aiohttp==3.8.1
async-timeout==4.0.2
attrs==21.4.0
beautifulsoup4==4.11.1
bs4==0.0.1
certifi==2021.10.8
chardet==4.0.0
click==8.1.2
discord.py==1.7.3
Flask==2.1.1
idna==3.3
itsdangerous==2.1.2
Jinja2==3.1.1
MarkupSafe==2.1.1
multidict==6.0.2
requests==2.27.1
soupsieve==2.3.2
urllib3==1.26.9
vk==2.0.2
Werkzeug==2.1.1
yarl==1.7.2

ply~=3.11